{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static 'bianfuxia404/js/hm.js' %}"></script> 
        <meta charset="UTF-8" /> 
        <link rel="stylesheet" href="{% static 'bianfuxia404/css/404.css' %}" /> 
        <script src="{% static 'bianfuxia404/js/jquery.min.js' %}"></script> 
        <script src="{% static 'bianfuxia404/js/scriptalizer.js' %}" type="text/javascript"></script> 
        <script type="text/javascript">
            $(function(){
                $('#parallax').jparallax({});
            });
        </script> 
        <script src="{% static 'bianfuxia404/js/share.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bianfuxia404/css/slide_share.css' %}" />
    </head> 

    <body> 
        <div id="content" class="narrowcolumn"> 
            <div id="parallax"> 
            <div class="error1" style="position: absolute; left: 71.3077%; margin-left: -923.435px; top: 68.5714%; margin-top: -476.571px;"> 
                <img src="{% static 'bianfuxia404/images/wand.jpg' %}" alt="Mauer" /> 
            </div> 
            <div class="error2" style="position: absolute; left: 71.3077%; margin-left: -713.077px; top: 68.5714%; margin-top: -428.571px;"> 
                <img src="{% static 'bianfuxia404/images/licht.png' %}" alt="Licht" /> 
            </div> 
            <div class="error3" style="position: absolute; left: 71.3077%; margin-left: -427.846px; top: 68.5714%; margin-top: -329.143px;"> 
                <img src="{% static 'bianfuxia404/images/halo1.png' %}" alt="Halo1" /> 
            </div> 
            <div class="error4" style="position: absolute; left: 71.3077%; margin-left: -499.154px; top: 68.5714%; margin-top: -329.143px;"> 
                <img src="{% static 'bianfuxia404/images/halo2.png' %}" alt="Halo2" /> 
            </div> 
            <div class="error5" style="position: absolute; left: 71.3077%; margin-left: -905.608px; top: 68.5714%; margin-top: -473.143px;"> 
                <img src="{% static 'bianfuxia404/images/batman-404.png' %}" alt="Batcave 404" /> 
            </div> 
            </div> 
            <div class="footer-banner" style="width:728px; margin:0 auto">
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-0608155192548477" data-ad-slot="8305246055"></ins>
            </div> 
        </div> 
    </body>
</html>