{% extends 'home.html' %}
{% load staticfiles %}


{% block title %}
	{{ blog_type.type }}
{% endblock %}

{% block external %}
    <script src="{% static 'jQuery/jquery-3.3.1.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'CSS/blog_type_pk.css' %}" >
    <script src="{% static 'JS/blog_type_pk.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="blog_home_content_left">
        <div class="blog_home_content_container">
            {% for blog in Blogs %}
                <a href="{% url 'blog_detail' blog.pk %}" title="查看博客详情">
                    <h2>{{ blog.title }}</h2>
                </a>
                <div class="blog_home_content_container_text">
					分类: <span class="text_a" title="博客分类">{{ blog.blog_type.type }}</span>
                    <span>发表日期: {{ blog.creation_time|date:"Y-m-d" }}</span>
                </div>
            {% empty %}
                <span style="display:inline-block;">目前没有该类博客，敬请期待</span>
            {% endfor %}
        </div>
    </div>

{#----------------------------------------------------------------分页器----------------------------------------------#}
    <div class="my_blog_pag">
        <ul>
{#			 判断是否有上一页#}
	        {% if pages.has_previous %}
	            <li><a href="?page={{ pages.previous_page_number }}"><<</a></li>
	        {% else %}
	            <li><span class="no_page"><<</span></li>
	        {% endif %}

	    	{% for page in page_range %}
	    		{% if page == pages.number %}
	    			<li class="current_page" style="background: deepskyblue;"><span >{{ page }}</span></li>
	    		{% elif page == "..." %}
	    			<li class="current_page"><span>{{ page }}</span></li>
	    		{% else %}
	    			<li><a href="?page={{ page }}">{{ page }}</a></li>
	    		{% endif %}
	    	{% endfor %}

{#			 判断是否有下一页#}
	        {% if pages.has_next %}
	            <li><a href="?page={{ pages.next_page_number }}">>></a></li>
	        {% else %}
	            <li><span class="no_page">>></span></li>
	        {% endif %}
        </ul>
        <div class="blog_page_details">
        	<p>
        		共{{ blogs.count }}篇博客，
        		当前第{{ pages.number }}页，
        		共{{ pages.paginator.num_pages }}页
        	</p>
        </div>
    </div>

{% endblock %}