{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站 | 消息
{% endblock %}

{% block external %}
    <link rel="stylesheet" href="{% static 'CSS/notifications.css' %}">
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <script>
            window.location.href = '/';
        </script>
    {% else %}
        <div class="my_notification_content">
            <div class="notification_content">
                <p class="notification_button"><a href="{% url 'notification_all_read' %}">全部消息设置为已读</a></p>
                <p class="notification_button"><a href="{% url 'notification_all_delete' %}">删除所有已读消息</a></p>
                <ul>
                    {% for notification in request.user.notifications.all %}
                        <li class="{% if not notification.unread %}unread{% endif %}">
                            <a href="{% url 'notification_read' notification_id=notification.pk %}">[{{ notification.timesince }}] {{ notification.verb }}</a>
                        </li>
                    {% empty %}
                        <li><span>暂无消息</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
